@font-face {
    font-family: 'minionProReg';
    src: url(font/MinionPro-Subh.otf);
}


@font-face {
    font-family: 'helRegN';
    src: url(font/HelveticaNeueRoman.otf);
}

@font-face {
    font-family: 'helRegL';
    src: url(font/HelveticaNeueLight.otf);
}

@font-face {
    font-family: 'Miniver';
    src: url(font/Miniver-Regular\ \(kopia\).ttf);
}


  

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    transform-origin: center; 
    border-radius: 10px;
  }

  .label {
    position: absolute;
    top: -10px;     
    right: -10px;   
    background-color: rgba(255, 252, 248, 1);
    color: rgb(0, 0, 0);
    border: black solid 0.5px;
    padding: 6px 12px;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 10;   
    font-family: Helvetica;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
 
  .card:hover .label {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    pointer-events: none;
    overflow: visible; 
  } */




/* Section styling */
.selected-work {
    padding: 60px 20px;
    font-family: helvetica, sans-serif;
    
  }
  
  /* Wrapper för rubrik + kort */
  .cards-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .cards-wrapper h2 {
    
    text-align: left;
    margin-bottom: 50px;
    font-size: 42px;
    font-family: 'minionProReg';
    transform: scale(1, 1.15);
    
    display: inline-block;
    font-weight: normal;
  }
  
  /* Cards container */
  .cards-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .cards-container a {
    text-decoration: none;
    color: #000000;
  }
  
  /* Card styling */
  .card {
    width: 300px;
    position: relative;
    cursor: pointer;
    
  }
  
  /* Image wrapper (fyrkant) */
  .card-image {
    width: 100%;
    padding-bottom: 100%; /* fyrkant */
    overflow: hidden;
    border-radius: 1px 1px 0 0;
    position: relative;
    transition: transform 0.3s ease; /* för hela fyrkanten */
  }
  
  /* Bilden fyller kortet */
  .card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Hover: hela bild-fyrkanten växer */
  .card:hover .card-image {
    transform: scale(1.03);
  }
  
  /* Hover-knappen */
  .card-hover-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; /* klickar på hela kortet */
  }

  .card-hover-btn:hover {
    background: #1C24FF;
  }
  
  .card:hover .card-hover-btn {
    opacity: 1;
    transform: scale(1.1);
  }
  
  /* Pilen */
  .card-hover-btn svg.lucide-arrow-up {
    width: 24px;
    height: 24px;
    stroke: #000000;
    overflow: visible;
    transform: rotate(45deg); /* snett uppåt-höger */
  }
  
  /* Card text */
  .card h3 {
    margin: 40px 0 12px 0;
    font-size: 24px;
    font-family: 'helRegN';
  }
  
  .card p {
    margin-bottom: 30px;
    
    color: #000000;
    font-family: 'helRegN';
    line-height: 24px;
  }






/* Wrapper som centrerar bara denna sektion */
.center-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Hela klickbara området */
#inRingSectionProjects {
    position: relative;
    height: 155px;
    display: inline-flex; /* tar bara så mycket plats som behövs */
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* Bilden bakom texten */
#inRingImgProjects {
    background-image: url(img/inRing.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 420px;
    height: 145px;
    position: absolute;
    top: 0;
    z-index: 0;
    pointer-events: none; /* gör att musen “går igenom” bilden */
}

/* Text + pil */
#inRingSectionProjects h1 {
    font-size: 25px;
    font-family: 'minionProReg';
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    z-index: 1;
    padding: 30px 60px; /* större klick-/hoveryta */
    transition: transform 0.3s, color 0.3s;
}

/* Pil-ikon */
#inRingSectionProjects h1 svg {
    width: 20px;
    height: 20px;
    transform: translateX(0) rotate(90deg); /* startläge pekar höger */
    transition: transform 0.3s ease;
}


#inRingSectionProjects:hover svg {
    transform: translateX(10px) rotate(90deg); /* pil glider åt höger */
}





#messageHihi {
    margin-top: 40vh;
    margin-left: 10vw;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 252, 248, 1);
    position: relative;
}






/* nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    font-family: helvetica;
    font-size: 14px;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 100;

    
    background: rgba(255, 255, 255, 0.2);  
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
  

    border-bottom: 1px solid rgba(255,255,255,0.1);
  
  
    background-image: linear-gradient(
      to bottom,
      rgba(255,255,255,0.1),
      rgba(255,255,255,0.05)
    );
  
    transition: all 0.3s ease;
} */




/* #navOptionsContainer {
    display: flex;
    width: 450px;
    justify-content: space-between;
} */

/* Dölj hamburger på desktop */
/* #hamburgerBtn {
    display: none;
  } */
  
  
  
  /* #mobileMenu a {
    font-family: 'helRegN';  
    font-size: 44px;
    margin: 20px 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
  } */



/* #navName a:hover {
    background-color: #1C24FF;
    color: white;
}

#navGallery a:hover {
    background-color: #1C24FF;
    color: white;
}

#navAbout a:hover {
    background-color: #1C24FF;
    color: white;
}

#navContact a:hover {
    background-color: #1C24FF;
    color: white;
}

#navAtelier a:hover {
    background-color: #1C24FF;
    color: white;
} */





/* Alla länkar som knappar */


/* nav a {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border: 1px solid rgba(0,0,0,0.3); 
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-weight: 500; 
    transition: all 0.3s ease;
}


nav a:hover {
    background: rgba(255, 255, 255, 0.25); 
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


#navName a {
    padding: 0.4rem 0.8rem;
    font-weight: 500;
} */



/* heroSection */

#heroSection {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 250px;
    margin-bottom: 250px;
    height: 600px;
    /* position: relative; */
}

#ELladyInRed {
    background-image: url(img/ELinRed.png);
    width: 360px;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -465px;
    right: -166px;
}

#hSTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hSTop p {
    font-family: 'minionProReg';
    font-size: 30px;
    transform: scale(1, 1.15); /* Förminska bredden (X), öka höjden (Y) */
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hSPic {
    width: 100px;
    height: 150px;
    background-image: url(img/hSPic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

#hSBot {
    width: 860px;
    height: 360px;
    margin: auto;
    position: relative;
    margin-top: 50px;
}

#hSBot h1 {
    font-family: 'helRegN';
    font-size: 65px;
    line-height: 90px;
    letter-spacing: -0.04em;
    margin: 0;
}

#hSBot > p {
    font-family: 'helRegL';
}

#namnCursiv {
    background-image: url(img/Untitled_Artwork\ 12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 99px;
}


/* Latest project */


#latestProjectCloseUp {
    display: flex;
    justify-content: center;
}

#latestProjectBigPoster {
    background-image: url(img/ELDrinkPosters/ElDrinkPosterFeb3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 477px;
    height: 635px;
    border: 0.3px black solid;
}

#latestProjectInfoBox {
    width: 600px;
    height: 635px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

#latestProjectInfoBox p {
    font-family: 'helRegN';
    line-height: 24px;
}

#latestProjectInfoBox span {
    font-family: 'Miniver';
}


#latestProjectInfoBox h1 {
    font-size: 40px;
    font-family: 'minionProReg';
    transform: scale(1, 1.15);
    display: inline-block;
    font-weight: normal; 
}

#inRingSection {
    position: relative;
    width: 600px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#inRingSection h1 {
    font-size: 20px;
    font-family: 'minionProReg';
    transform: scale(1, 1.15);
    display: inline-block;
    font-weight: normal; 
}

#inRingImg {
    background-image: url(img/inRing.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 588px;
    height: 175px;
    position: absolute;
    top: 0px;
}

#shopNowButton {
    width: 100px;
    background-color: rgb(0, 0, 0);
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:'helRegN';
    font-size: 14px;
    border-radius: 16px;
}


#inRingSection > a {
    z-index: 99001;
    text-decoration: none;
  }


/* latestProjectGalleriContainer */


#latestProjectGalleriContainer {
    width: 100%;
    /* height: 1120px; */
    background-color: rgba(10, 10, 10, 1);
    margin-top: 120px;
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

/* .latestProjectGalleriRow {
    display: flex;
    flex-direction: row;
    width: 1224px;
    justify-content: space-between;
    margin-bottom: 10px;
} */

#latestProjectGalleriRowGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 lika breda kolumner */
    grid-template-rows: repeat(2, auto); /* 2 rader som anpassar sig efter innehållet */
    gap: 20px; /* Mellanrum mellan rutorna */
}

.latestProjectGalleriPost img {
    height: 313px;
}


#latestProjectGalleriInfoTextSection {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
}

/* .latestProjectGalleriInfoText p {
    font-family: 'helRegL';
    color: white;
    font-size: 14px;
    line-height: 20px;
    width: 300px;
} */

#latestProjectGalleriInfoTextSectionGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 lika breda kolumner */
    grid-template-rows: repeat(1, auto); /* 2 rader som anpassar sig efter innehållet */
    margin-top: 60px;
}

.latestProjectGalleriInfoTextCell p {
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-family: 'helRegL';
    margin: 15px 0 0 0;
}

#latestProjectGalleriSection {
    margin-bottom: 100px;
}



/* AboutMe */

#AboutMeLandingPageSection {
    height: 970px;
    background-color: rgba(255, 252, 248, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#AboutMeLandingPageContainer {
    display: flex;
}

#AboutMeLandingPageText {
    width: 355px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 114px;
    margin-top: 50px;
}

#AboutMeLandingPageText h1 {
    font-size: 40px;
    font-family: 'minionProReg';
    transform: scale(1, 1.15);
    display: inline-block;
    font-weight: normal; 
    margin: 0;
    margin-bottom: 10px;
}

#AboutMeLandingPageText p {
    font-family: 'helRegN';
    font-size: 16px;
    line-height: 24px;
}

#readMoreAbout {
    width: 100px;
    background-color: rgb(0, 0, 0);
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:'helRegN';
    font-size: 14px;
    border-radius: 16px;
    margin-top: 10px;
    text-decoration: none;
}

#AboutMeLandingPageText a {
    text-decoration: none;
    color: white;
}

#AboutMeLandingPageImg {
    height: 570px;
    width: 320px;
    background-image: url(img/AboutMeKng.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


#instagramBanderoll {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C24FF;
    margin-bottom: 150px;
    flex-direction: row;
}

#instagramBanderoll h1 {
    font-size: 20px;
    font-family: 'minionProReg';
    transform: scale(1, 1.15);
    display: inline-block;
    font-weight: normal; 
    margin: 0;
    color: white;
    text-decoration: none;
}

#instagramBanderoll a {
    color: white;
    text-decoration: none;
}




#skiposterFirstPage {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#sFPCloseUp {
    display: flex;
    margin: auto;
}

#sFPBigPoster {
    background-image: url(img/Skiposters/skipostersCham.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 477px;
    height: 635px;
    border: 0.3px black solid;
}

#sFPInfoBox {
    width: 600px;
    height: 635px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

#sFPInfoBox p {
    font-family: 'helRegN';
    line-height: 24px;
}

#sFPInfoBox h1 {
    font-size: 40px;
    font-family: 'minionProReg';
    transform: scale(1, 1.15);
    display: inline-block;
    font-weight: normal; 
}

/* SkiposterGalleriContainer */

#sFPGalleriContainer {
    width: 100%;
    /* height: 1120px; */
    background-color: rgba(10, 10, 10, 1);
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

#sFPGalleriRowGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 lika breda kolumner */
    grid-template-rows: repeat(2, auto); /* 2 rader som anpassar sig efter innehållet */
    gap: 20px; /* Mellanrum mellan rutorna */
    margin: auto;
}

.sFPGalleriPost img {
    height: 300px; /* Sätter en fast höjd */
    width: auto; /* Bredden justeras automatiskt */
}

#sFPGalleriSection {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 100px;
}

#sFPGalleriInfoTextSectionGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 lika breda kolumner */
    grid-template-rows: repeat(1, auto); /* 2 rader som anpassar sig efter innehållet */
    margin-top: 60px;
}

.sFPProjectGalleriInfoTextCell p {
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-family: 'helRegL';
    margin: 15px 0 0 0;
    
}


/* footer */

footer {
    height: 1050px;
    background-color: rgba(255, 252, 248, 1);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding-top: 300px;
    font-family: 'helRegN';
    /* font-family: 'Miniver'; */
    position: relative; 
    overflow: hidden; /* Viktigt för att "klippa" div:en */ 
}



.footerSmallSections {
    max-width: 200px;
}

/* .footerSmallSections p:first-child {
    font-family: Helvetica, sans-serif;
    font-weight:bold;
} */

.footerSmallSections:first-child {
    font-size: 40px;
    line-height: 50px;
    max-width: 300px;
    
}

.footerSmallSections:first-child p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#footerSection {
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

#namnCursivFooter {
    position: absolute;
    bottom: -250px;           /* Flytta nedåt utanför footern */
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    height: 600px;
    background-image: url(img/Untitled_Artwork\ 12.png);
    background-size: cover;        /* Täcker hela diven */
    background-position: center;   /* Centrerar bilden */
    background-repeat: no-repeat;
}







@media (max-width: 1300px) and (min-width:1070px) {

    #hSBot h1 {
        font-size: 50px;
        line-height: 65px;
        letter-spacing: -0.04em;
        margin: 0;
    }

    #hSBot {
        width: 641px;
        height: 230px;
        margin: auto;
        position: relative;
        margin-top: 50px;
    }

    #latestProjectBigPoster {
        background-image: url(img/ELDrinkPosters/ElDrinkPosterFeb3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 477px;
        height: 635px;
        border: 0.3px black solid;
    }

    .latestProjectGalleriPost img {
        width: 179px;
        height: auto;
    }

    .latestProjectGalleriRow {
        display: flex;
        flex-direction: row;
        width: 1000px;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    #latestProjectGalleriInfoTextSection {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
    }

    #namnCursiv {
        width: 380px;
        bottom: -64px;
        right: 60px;
    }

    #ELladyInRed {
        width: 320px;
        height: 418px;
        bottom: -383px;
        right: -152px;
    }

    #latestProjectInfoBox h1 {
        font-size: 3
        20px;
    }

    #latestProjectInfoBox {
        width: 477px;
        height: 635px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;
    }

    #inRingSection {
        position: relative;
        width: 477px;
        height: 175px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    #inRingImg {
        width: 530px;
    }

    #sFPBigPoster {
        background-image: url(img/Skiposters/skipostersCham.PNG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 477px;
        height: 635px;
        border: 0.3px black solid;
    }

    #sFPInfoBox {
        width: 477px;
        height: 635px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;
    }


    /* footer */

footer {
    height: 1050px;
    padding-left: 40px;
    padding-right: 40px;
}




#namnCursivFooter {
    position: absolute;
    bottom: -200px;           /* Flytta nedåt utanför footern */
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    height: 600px;
    background-image: url(img/Untitled_Artwork\ 12.png);
    background-size: cover;        /* Täcker hela diven */
    background-position: center;   /* Centrerar bilden */
    background-repeat: no-repeat;
}

   
}



@media (max-width: 1070px) and (min-width:875px) {

    #hSBot h1 {
        font-size: 50px;
        line-height: 65px;
        letter-spacing: -0.04em;
        margin: 0;
    }

    #hSBot {
        width: 641px;
        height: 230px;
        margin: auto;
        position: relative;
        margin-top: 50px;
    }

    #latestProjectBigPoster {
        width: 591px;
        height: 787px;
        margin: auto;
    }

    #namnCursiv {
        width: 380px;
        bottom: -64px;
        right: 60px;
    }

    #ELladyInRed {
        width: 228px;
        height: 306px;
        bottom: -251px;
        right: -112px;
    }

    .cards-wrapper {
        max-width: 650px;
        margin: 0 auto;
      }

    #latestProjectCloseUp {
        flex-direction: column;
    }

    #latestProjectGalleriRowGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 5 lika breda kolumner */
        grid-template-rows: repeat(3, auto); /* 2 rader som anpassar sig efter innehållet */
        gap: 20px; /* Mellanrum mellan rutorna */
    }

    #AboutMeLandingPageText {
        margin-right: 25px;
    }

    #footerSection {
        width: 700px;
    }

    #latestProjectInfoBox {
        margin: auto;
        height: 512px;
        margin-top: 40px;
    }

    
    #sFPBigPoster {
        width: 591px;
        height: 787px;
        margin: auto;
    }

    #sFPCloseUp {
        flex-direction: column;
    }

    #sFPInfoBox {
        margin: auto;
        height: 280px;
        margin-top: 40px;
    }

    #sFPGalleriRowGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 5 lika breda kolumner */
        grid-template-rows: repeat(3, auto); /* 2 rader som anpassar sig efter innehållet */
        gap: 20px; /* Mellanrum mellan rutorna */
    }

    #sFPGalleriInfoTextSectionGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 5 lika breda kolumner */
        grid-template-rows: repeat(1, auto); /* 2 rader som anpassar sig efter innehållet */
        margin-top: 60px;
    }


    /* footer */

footer {
    height: 1050px;
    background-color: rgba(255, 252, 248, 1);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding-top: 300px;
    font-family: 'helRegN';
    /* font-family: 'Miniver'; */
    position: relative; 
    overflow: hidden; /* Viktigt för att "klippa" div:en */ 
    padding-left: 40px;
    padding-right: 40px;
}



.footerSmallSections {
    max-width: 200px;
}

/* .footerSmallSections p:first-child {
    font-family: Helvetica, sans-serif;
    font-weight:bold;
} */

.footerSmallSections:first-child {
    
    max-width: 250px;
    
}

.footerSmallSections:first-child p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#footerSection {
    display: flex;
    
    width: 1200px;
    justify-content: space-between;
}

#namnCursivFooter {
    position: absolute;
    bottom: -200px;           /* Flytta nedåt utanför footern */
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    height: 600px;
    background-image: url(img/Untitled_Artwork\ 12.png);
    background-size: cover;        /* Täcker hela diven */
    background-position: center;   /* Centrerar bilden */
    background-repeat: no-repeat;
}
}


@media (max-width: 875px) and (min-width:670px) {

    #hSBot h1 {
        font-size: 50px;
        line-height: 65px;
        letter-spacing: -0.04em;
        margin: 0;
    }

    #hSBot {
        width: 641px;
        height: 230px;
        margin: auto;
        position: relative;
        margin-top: 50px;
    }

    #namnCursiv {
        width: 380px;
        bottom: -64px;
        right: 60px;
    }

    #ELladyInRed {
        width: 228px;
        height: 306px;
        bottom: -353px;
        right: 10px;
        
    }


    .cards-wrapper {
        max-width: 350px;
        margin: 0 auto;
      }

      .cards-container {
        flex-direction: column;
        align-items: center; /* valfri – centrerar korten */
      }

      .card {
        width: 100%;
        max-width: 500px; /* så de inte blir för breda */
      }


    #latestProjectGalleriRowGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 5 lika breda kolumner */
        grid-template-rows: repeat(5, auto); /* 2 rader som anpassar sig efter innehållet */
        gap: 20px; /* Mellanrum mellan rutorna */
    }

    .latestProjectGalleriPost img {
        height: 397px;
        width: auto;
    }

    #AboutMeLandingPageContainer {
        flex-direction: column;
    }

    #latestProjectCloseUp {
        flex-direction: column;
    }


    #latestProjectBigPoster {
        width: 591px;
        height: 787px;
        margin: auto;
    }

    #latestProjectInfoBox {
        margin: auto;
        height: 515px;
        margin-top: 40px;
    }

    #latestProjectGalleriInfoTextSectionGrid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    #AboutMeLandingPageContainer {
        flex-direction: column-reverse;

    }

    #AboutMeLandingPageText {
        margin-right: 0px;
    }

    #AboutMeLandingPageSection {
        height: 1225px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #AboutMeLandingPageImg {
        margin: auto;
    }

    #footerSection {
        width: 500px;
    }

    /* #latestProjectBigPosterSki {
        width: 591px;
        height: 787px;
        margin: auto;
    } */


    #sFPGalleriRowGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 5 lika breda kolumner */
        grid-template-rows: repeat(5, auto); /* 2 rader som anpassar sig efter innehållet */
        gap: 20px; /* Mellanrum mellan rutorna */
    }

    .sFPGalleriPost img {
        height: 397px;
        width: auto;
    }

    #sFPCloseUp {
        flex-direction: column;
    }


    #sFPBigPoster {
        width: 591px;
        height: 787px;
        margin: auto;
    }

    #sFPInfoBox {
        margin: auto;
        height: 280px;
        margin-top: 40px;
    }

    #sFPGalleriInfoTextSectionGrid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }


    footer {
        height: 950px;
        background-color: rgba(255, 252, 248, 1);
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        padding-top: 100px;
        font-family: 'helRegN';
        /* font-family: 'Miniver'; */
        position: relative; 
        overflow: hidden; /* Viktigt för att "klippa" div:en */ 
    }

    #footerSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 700px;
        max-width: 300px;
    }

    #namnCursivFooter {
        position: absolute;
        bottom: -130px;           /* Flytta nedåt utanför footern */
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 10;
        height: 300px;
        background-image: url(img/Untitled_Artwork\ 12.png);
        background-size: cover;        /* Täcker hela diven */
        background-position: center;   /* Centrerar bilden */
        background-repeat: no-repeat;
    }
}


/* Desktop */
/* @media (min-width: 670px) {
    #hamburgerBtn {
      display: none !important;
    }
  
    #mobileMenu {
      display: none !important; 
    }
  
    #navOptionsContainer {
      display: flex !important; 
      justify-content: flex-end; 
      gap: 30px;
    }
  } */



@media (max-width: 670px) {


    /* body {
        min-width: 380px;
    }

    nav {
        flex-direction: row;
        height: 67px;
    }

    #navOptionsContainer {
        width: 350px;
        font-weight: medium;
        font-size: 12px;
    }

    #navOptionsContainer p {
        margin: 0px;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    #navName p {
        margin: 0px;
        margin-top: 10px;
    } */



    #hSBot {
        width: 100%;
        height: 230px;
        margin: auto;
        position: relative;
        margin-top: 50px;
        padding-left: 20px;
    }

    #namnCursiv {
        width: 231px;
        bottom: -369px;
        left: 100px;
    }

    #ELladyInRed {
        width: 169px;
        height: 270px;
        bottom: -164px;
        right: 30px;
        
    }



    .cards-wrapper {
        max-width: 350px;
        margin: 0 auto;
      }

      .cards-container {
        flex-direction: column;
        align-items: center; /* valfri – centrerar korten */
      }

      .card {
        width: 100%;
        max-width: 500px; /* så de inte blir för breda */
      }


    #latestProjectGalleriContainer {
        margin-top: 0px;
        padding-top: 40px;

    }

    #latestProjectInfoBox h1 {
        font-size: 30px; 
        text-align: center;
    }

    #latestProjectInfoBox p {
        text-align: center;
        max-width: 350px;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }


    #inRingImgProjects {
        background-image: url(img/inRing.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 350px;
        height: 145px;
        position: absolute;
        top: 0;
        z-index: 0;
        pointer-events: none; /* gör att musen “går igenom” bilden */
    }
    
    /* Text + pil */
#inRingSectionProjects h1 {
    font-size: 16px;
    font-family: 'minionProReg';
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    z-index: 1;
    padding: 30px 60px; /* större klick-/hoveryta */
    transition: transform 0.3s, color 0.3s;
}

/* Pil-ikon */
#inRingSectionProjects h1 svg {
    width: 16px;
    height: 16px;
    transform: translateX(0) rotate(90deg); /* startläge pekar höger */
    transition: transform 0.3s ease;
}

   

    #inRingSection h1 {
        font-size: 16px;
        margin: 5px
    }

    #latestProjectGalleriRowGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 5 lika breda kolumner */
        grid-template-rows: repeat(10, auto); /* 2 rader som anpassar sig efter innehållet */
        gap: 20px; /* Mellanrum mellan rutorna */
    }

    #AboutMeLandingPageContainer {
        flex-direction: column;
    }

    #latestProjectCloseUp {
        flex-direction: column;
    }


    #latestProjectBigPoster {
        width: 300px;
        height: 399px;
        margin: auto;
    }

    #latestProjectInfoBox {
        margin: auto;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        height: 512px;
        margin-top: 20px;
    }

    #latestProjectGalleriSection {
        margin-bottom: 60px;
    }

    #latestProjectGalleriInfoTextSectionGrid {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        margin-top: 40px;
    }

    #AboutMeLandingPageContainer {
        flex-direction: column-reverse;

    }

    #AboutMeLandingPageText {
        margin-right: 0px;
    }

    #AboutMeLandingPageSection {
        height: 1050px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #AboutMeLandingPageText h1 {
        font-size: 30px;
    }
    
    #AboutMeLandingPageText p {
        font-size: 15px;
    }

   
    #latestProjectInfoBox p {
        font-size: 15px;
    }
    

    #AboutMeLandingPageImg {
        height: 388px;
        width: 220px;
        margin: auto; 
    }


    #inRingSection {
        width: 350px;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #inRingImg {
        width: 370px;
    }
    
     
    
    #hSBot h1 {
        font-size: 45px;
        line-height: 55px;
        letter-spacing: -0.04em;
        margin: 0;
        width: 215px;
    }

    .latestProjectGalleriPost {
        display: flex;
        justify-content: center;
    }

    #shopNowButton {
        height: 30px;
    }

    #latestProjectInfoBox p {
        text-align: center;
        max-width: 350px;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    
    }

    #heroSection {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 150px;
    }

    
    .latestProjectGalleriPost img {
        height: 330px;
        width: auto;
    }



    #instagramBanderoll {
        height: 80px;
        background-color: #1C24FF;
        margin-bottom: 60px;
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #instagramBanderoll h1 {
        font-size: 16px;
        font-family: 'minionProReg';
        transform: scale(1, 1.15);
        display: inline-block;
        font-weight: normal; 
        margin: 0;
        color: white;
        text-decoration: none;
        text-align: center;
    }



    #sFPGalleriRowGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 5 lika breda kolumner */
        grid-template-rows: repeat(10, auto); /* 2 rader som anpassar sig efter innehållet */
        gap: 20px; /* Mellanrum mellan rutorna */
    }

    .sFPGalleriPost img {
        height: 330px;
        width: auto;
    }


    #sFPGalleriContainer {
        margin-top: 0px;
    }

    #sFPInfoBox h1 {
        font-size: 30px; 
        text-align: center;
    }

    #sFPInfoBox p {
        text-align: center;
        max-width: 350px;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    
    }

    #sFPCloseUp {
        flex-direction: column;
    }


    #sFPBigPoster {
        width: 300px;
        height: 399px;
        margin: auto;
    }

    #sFPInfoBox {
        margin: auto;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        height: 370px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    #sFPGalleriInfoTextSectionGrid {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        margin-top: 0px;
    }

    #sFPGalleriSection {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    footer {
        height: 950px;
        background-color: rgba(255, 252, 248, 1);
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        padding-top: 100px;
        font-family: 'helRegN';
        /* font-family: 'Miniver'; */
        position: relative; 
        overflow: hidden; /* Viktigt för att "klippa" div:en */ 
    }

    #footerSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 700px;
        max-width: 300px;
    }

    #namnCursivFooter {
        position: absolute;
        bottom: -110px;           /* Flytta nedåt utanför footern */
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 10;
        height: 250px;
        background-image: url(img/Untitled_Artwork\ 12.png);
        background-size: cover;        /* Täcker hela diven */
        background-position: center;   /* Centrerar bilden */
        background-repeat: no-repeat;
    }
    /* Mobilvyn */


   
    /* Visa hamburger */

    /* Fullscreen mobilmeny */
  /* #mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #1C24FF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: center;
    transition: height 0.4s ease;
    z-index: 9999;
  } */

    /* #hamburgerBtn {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(0,0,0,0.3);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        padding: 8px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 10000;
      } */

      
/*     
      #hamburgerBtn span {
        display: block;
        width: 18px;
        height: 1.5px;
        transition: all 0.3s ease;
      }
    
      #hamburgerBtn.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
       
      }
      #hamburgerBtn.active span:nth-child(2) {
        opacity: 0;
      }
      #hamburgerBtn.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      
      }
    
      #navOptionsContainer {
        display: none;
      }
    
      #mobileMenu.open {
        height: 100vh;
      }

      #closeMobileMenu {
        position: absolute;
        top: 20px;
        right: 20px; 
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
        z-index: 10000;
      }
       */


}




