


.caseStudiesTopImg {
    /* background-color: rgb(246, 127, 255); */
    margin: auto;
    margin-top: 60px;
    display: grid;
    height: 700px;
    width: 700px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
}


/* Bilder i gridet */

#gameOfCodes1 {
    border: 0.2px solid rgba(0, 0, 0, 0.256);
    grid-column: 1 / 6;
    grid-row: 1 / 6;
   
    /* Bild som bakgrund */
    background-image: url('../img/imgProjects/mockupChunks.png');
    background-position: center;  /* centrerar bilden */
    background-repeat: no-repeat; /* upprepar inte */
    background-size: cover;

    border-radius: 5px;
}

#gameOfCodes2 {
    border: 0.2px solid rgba(0, 0, 0, 0.256);
    grid-column: 6 / 11;
    grid-row: 1 / 4;
   
    /* Bild som bakgrund */
    background-image: url('../img/imgProjects/chunksMapImg.png');
    background-position: top;  /* centrerar bilden */
    background-repeat: no-repeat; /* upprepar inte */
    background-size: cover;

    border-radius: 5px;
}

#gameOfCodes3 {
    border: 0.2px solid rgba(0, 0, 0, 0.256);
    grid-column: 1 / 6;
    grid-row: 6 / 11;
   
    /* Bild som bakgrund */
    background-image: url('../img/imgProjects/ChunksLearing.png');
    background-position: top;  /* centrerar bilden */
    background-repeat: no-repeat; /* upprepar inte */
    background-size: cover;

    border-radius: 5px;
}

#gameOfCodes4 {
    border: 0.2px solid rgba(0, 0, 0, 0.256);
    grid-column: 6 / 11;
    grid-row: 4 / 8;
   
    /* Bild som bakgrund */
    background-image: url('../img/imgProjects/DashboardVY.png');
    background-position: top;  /* centrerar bilden */
    background-repeat: no-repeat; /* upprepar inte */
    background-size: cover;

    border-radius: 5px;
}

#gameOfCodes5 {
    border: 0.2px solid rgba(0, 0, 0, 0.256);
    grid-column: 6 / 11;
    grid-row: 8 / 11;
   
    /* Bild som bakgrund */
    background-image: url('../img/imgProjects/chunksMapVYdarkmode.png');
    background-position: top;  /* centrerar bilden */
    background-repeat: no-repeat; /* upprepar inte */
    background-size: cover;

    border-radius: 5px;
}






.stagesSpotYa {
    width: 100%;
    height: 160px;
    background-image: url(../img/caseStudies/spotYa/stagesSpotYapng.png);
    background-size: cover;
}

.graphicprofileSpotYa {
    width: 100%;
    height: 285px;
    background-image: url(../img/caseStudies/spotYa/graphicProfileSpotYa.png);
    background-size: cover;
    margin-top: 70px;
}

.userFlowSpotYa {
    width: 100%;
    height: 531px;
    background-image: url(../img/caseStudies/spotYa/userFlowSpotYa.png);
    background-size: cover;
    margin-top: 70px;
}

.mockupRetroSpotYa {
    width: 100%;
    height: 574px;
    background-image: url(../img/caseStudies/retroResan/MockupRetroresan.jpg);
    background-size: cover;
    margin-top: 70px;
}

.hiFiWiSpotYa {
    width: 100%;
    height: 896px;
    background-image: url(../img/caseStudies/spotYa/hiFiWire.png);
    background-size: cover;
    margin-top: 70px;
}















@media (max-width:700px) {



    .caseStudiesTopImg {
        /* background-color: rgb(246, 127, 255); */
        margin: auto;
        margin-top: 60px;
        display: grid;
        height: 350px;
        width: 350px;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 10px;
    }
    
   






.stagesSpotYa {
    width: 100%;
    height: 93px;
    background-image: url(../img/caseStudies/spotYa/stagesSpotYapng.png);
    background-size: cover;
}

.graphicprofileSpotYa {
    width: 100%;
    height: 142px;
    background-image: url(../img/caseStudies/spotYa/graphicProfileSpotYa.png);
    background-size: cover;
    margin-top: 70px;
}

.userFlowSpotYa {
    width: 100%;
    height: 265px;
    background-image: url(../img/caseStudies/spotYa/userFlowSpotYa.png);
    background-size: cover;
    margin-top: 70px;
}
    
.mockupRetro {
    width: 100%;
    height: 288px;
    background-image: url(../img/caseStudies/retroResan/MockupRetroresan.jpg);
    background-size: cover;
    margin-top: 70px;
}

.hiFiWiSpotYa {
    width: 100%;
    height: 445px;
    background-image: url(../img/caseStudies/spotYa/hiFiWire.png);
    background-size: cover;
    margin-top: 70px;
}

    
    
    }